.main-dashBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-right:5%;
    padding-left:5%;
    overflow: hidden;
}

.tableContainer{
  transition:700ms;
  position: absolute;
  left: 0;
  padding-right: 50px;
  padding-left: 50px;
}


  @media (max-width: 700px) {
    .main-dashBoard {

      padding-right:0;
      padding-left:0;
    }
    .tableContainer{
      padding-right: 0px;
      padding-left: 0px;
    }
    
  }

  .titleContainer{
    width: 100%;
    text-align: start;
    font-size: 25px;
    font-weight: 100;
  }

