.main-map{
  overflow-x: hidden;
}
/*Contenedor de google */
.gm-style .gm-style-iw-c{
  background-color: red;
  padding: 0;
}
.gm-style-iw-d {
  overflow: hidden !important;
}
.gm-ui-hover-effect{ /*boton con la cruz*/
  opacity: 1;
  align-items: center !important;
  right: 0!important;
  top:0!important;
  opacity: .4 !important;
  height: 33px!important;
}

.gm-ui-hover-effect>span { /*la cruz*/
  background-color: white !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  margin:0!important;
}
.gm-ui-hover-effect:hover{
  opacity: 1 !important;
}

.buildingCard{
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap:0px;
  padding:0px 0px;
  border-radius: 5px;
  align-items: center;
}
.buildingCard h2{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-weight: 500;
  background-color: rgb(19, 18, 18);
  color: white;
}
.buildingPicture{
  width: 100%;
  aspect-ratio: 1/1;
}

.buildingDescription{
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}
.buildingDescription p{
  font-size: 15px;
  color: black;
  font-weight: 500;
}


.button-back{
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.filters-container{
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 00px;
  overflow: hidden;
}
/* Mobile */
@media (max-width: 700px) {

}