.main-map{
  overflow-x: hidden;
}
/*Contenedor de google */
.gm-style .gm-style-iw-tc::after{
  background-color: transparent !important;
}
.gm-style .gm-style-iw-c{
  padding: 0;
  max-width: 800px !important;
  border-radius: 0px !important;
  border: solid 5px #385D8A;
}
.gm-style-iw-d {
  overflow: hidden !important;
}
.gm-ui-hover-effect{ /*boton con la cruz*/
  opacity: 1;
  align-items: center !important;
  right: 0!important;
  top:0!important;
  opacity: .4 !important;
  height: 33px!important;
  
}

.gm-ui-hover-effect>span { /*la cruz*/
  background-color:black !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  margin:0!important;
}
.gm-ui-hover-effect:hover{
  opacity: 1 !important;
}

.buildingCard{
  background-color: white;
  width: 600px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  flex-direction: column;
  gap: 0px;
  padding: 0px 0px;
  border-radius: 0px;
  align-items: center;
}

.buildingPicture{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.buildingDescription{
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border: solid 1px black;
}
.buildingDescription p{
  font-size: 15px;
  color: #31849B;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}


.button-back{
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.filters-container{
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Mobile */
@media (max-width: 700px) {

}

.referencesContainer{
  border-radius: 20px;
  padding: 15px 20px;
  position: absolute;
  bottom: 70px;
  left: 20px;
  display: flex;
  gap:10px;
  flex-direction: column;
  
}
  
.markerLabel{
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;  
  letter-spacing: 1px;

}

.referencesSquare{
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px;
  transition: 150ms;
}
.reference{
  display: flex;
  gap:10px;
}