.main-register{
  overflow: hidden;
}
.mapSection{
  position: absolute;
  width: 50%;
  height: 100%;
} 

.formSection{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  padding: 75px 100px;
  background-color: white;
  z-index: 9;
  box-shadow: -3px 1px 11px 1px rgba(0,0,0,0.75);
  overflow: auto;
  transition: all 250ms;
}
.fullForm{
  width: 100%
}
@media (max-width: 768px) {
  .mapSection{
    width: 100%;
  }
  .formSection {
    width: 100%;
    padding: 75px 20px;
  }
  .zeroForm{
    right: -100%;
  }
  
}

.circle {
  top:70px;
  right: 10px;
  z-index: 11;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.circle::before {
  content: "";
  width: 16px;
  height: 16px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle:hover {
  filter: brightness(90%);
}
