.main-register{
  overflow: hidden;
}
.mapSection{
  position: absolute;
  width: 50%;
  height: 100%;
} 
 
.formSection{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  padding: 25px 25px;
  background-color: white;
  z-index: 9;
  box-shadow: -3px 1px 11px 1px rgba(0,0,0,0.75);
  transition: all 250ms;
}

.formRegister{
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 75px;
  padding-right: 25px;
  padding-left: 25px;
}


.leftBar{
  position: absolute;
  background-color: rgb(90 94 98);
  top: 0;
  left: 0px;
  width: 20px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.leftBarLine{
  width: 3px;
  height: 50px;
  background-color: #3e3e3e;
}

.form-row-2Columns{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 25px;
  row-gap: 10px;
}
.full-width{
  width: 100%;
}

/* Mobile*/
@media (max-width: 768px) {
  .leftBar{
    display: flex;
  }
  .fullForm{
    width: 100%
  }
  .mapSection{
    width: 100%;
  }
  .formSection {
    width: 100%;
    padding: 75px 20px;
    padding-left: 40px;
  }
  .zeroForm{
    box-shadow: none;
    right: calc(-100% + 20px);
  }
  .form-row-2Columns{
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 25px;
  }
}