main{
    background-color: rgb(245, 245, 245);
}

form{
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    /*gap: 29px*/
    width: 100%;
}

.apiMap{
    box-shadow: -1px -1px 17px 2px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -1px -1px 17px 2px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -1px -1px 17px 2px rgba(0,0,0,0.75) inset;
}
.inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 77%;
    justify-items: start;
    row-gap: 25px;
}



input{
    font-size: 22px;
    border-radius: 5px;
    border: solid 2px rgb(112, 112, 112);
    width: 100%;
    padding: 2px;
}
.buttonSend{
    background-color: rgb(36, 116, 221);
    color: white;
    width: auto;
    border: 0;
    padding: 5px 15px;
    font-size: 22px;
    border-radius: 7px;
}
.buttonSend:hover{
    background-color: rgb(46, 129, 236);
}

.inputInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    width: 100%;
}

.inputGroup{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
    justify-content: space-between;
    
}
